!!meal ---> {
	slug: 's',
	title: 's',
	image: File {
	  size: 836362,
	  type: 'image/jpeg
	  name: '2.jpg',
	  lastModified: 17219
	},
	summary: 's',
	instructions: 'ssss
	creator: 'theo',
	creator_email: 'ss@m'
  }